@model IEnumerable<MVC5Course.Models.ViewModels.ProductLiteVM>

@{
    ViewBag.Title = "ListProducts";
}

@if (TempData["CreateProduct_Result"] != null)
{
     <h1>@TempData["CreateProduct_Result"] </h1>
}

<h2>ListProducts</h2>
   
<form method="post">
    <p>
        篩選：

        產品名稱：
        @Html.TextBox("q")


        Stock：
        @Html.TextBox("from", null, new { size = "10", type = "number" })
        ~
        @Html.TextBox("to", null, new { size = "10", type = "number" })

        <button>搜尋</button>
    </p>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>        
    </tr>
}

</table>
